.arrow-left-circle {
    background-color: white;
    position: absolute;
    bottom: 30%;
    left: 0;
    padding: 10px;
    border-radius: 37px;
    z-index: 1;
    border: 1px solid transparent;
    box-shadow: 0 3px 6px rgb(34 25 36 / 20%);
    transition-timing-function: cubic-bezier(.65,.05,.36,1);
}

.arrow-left-circle svg {
    font-size: 2rem;
}

.arrow-left-circle:hover {
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    box-shadow: 0 3px 6px rgb(34 25 36 / 20%);
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .arrow-left-circle svg {
        font-size: 1.8rem;
    }
}