.in-page-links{
    cursor: pointer;
    color: #615c65;
    font-weight: 600;
}
.in-page-links:hover {
    color: var(--primaryColor) !important;
}
@media only screen and (max-width: 750px){
    .category-links-container{
        display: none;
    }
}